<div class="input-group mb-3">
  <input type="text" class="form-control" ng-model='term' placeholder="Search movies" aria-label="Search movies" ng-enter='search()'>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" ng-click='search()'>Search</button>
  </div>
</div>
<h4 ng-show='movies'>Search results for '{{searchTerm}}'</h4>
<div id='movies' class='my-3'>
  <div ng-repeat='movie in movies' class='card movie bb'>
    <img ng-src="{{movie.poster == 'N/A' ? 'img/no-image.png' : movie.poster}}" class='card-img-top mx-0 bb'>
    <div class='card-body'>
      <h5 class='card-title'>{{movie.title}}</h5>
      <h6 class="card-subtitle text-muted">{{movie.year}}</h6>
    </div>
  </div>
</div>