body {
  margin: auto; }

img {
  max-width: 100%; }

.bb {
  box-sizing: border-box; }

#movies {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 50rem) {
    #movies {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 65rem) {
    #movies {
      grid-template-columns: repeat(4, 1fr); } }

.form {
  width: 80%;
  margin: auto; }
